:root {
  --react-theme: #61d9fa;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

button {
  cursor: pointer;
}

li {
  list-style-type: none;
}

a {
  color: inherit;
  text-decoration: none;
  box-sizing: border-box;
}

.page {
  min-height: 80vh;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.align-center {
  align-items: center;
}

.justify-space-between {
  justify-content: space-between;
}

.justify-space-evenly {
  justify-content: space-evenly;
}

.text-underline {
  text-decoration: underline;
}

.text-center {
  text-align: center;
}

.w-full {
  width: 100%;
}

.text-react {
  color: var(--react-theme);
}
